
{{#operations}}

{{#operation}}
require_once('/path/to/{{package}}');

$api_client = new Swagger\Client\ApiClient('{{hostname}}');

{{#authMethods}}
$api_client->getConfig().setApiKey("{{name}}", "myApiKey");
{{/authMethods}}

$api = new Swagger\Client\{{classname}}($api_client);
$api->{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
{{/operation}}

{{/operations}}
