{{#operations}}

{{#operation}}
from ..api_client import ApiClient;
from ..configuration import Configuration

apiClient = client.ApiClient("{{hostname}}")
{{#authMethods}}
apiClient.configuration.api_key['{{name}}'] = 'myApiKey'
{{/authMethods}}

api = client.{{classname}}();
api.{{nickname}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
{{/operation}}

{{/operations}}